body {
    font-family: Arial; 
}

.centered {
    text-align: center;
}


table{
    text-align: center;
    width: 100%;
  }

th{
    text-align: center;
    background-color:cadetblue
}
td{
    text-align: center;
    border: 1px solid;
}